.holy-grail {
    display: flex;
    flex-direction: column;
    font-family: Serif, Monospaced, serif;
}

.holy-grail__header {
    flex: 0 0 10%;
    background-color: cornflowerblue;
    justify-content: space-around;
    min-height: 50px;
}

.holy-grail__body {
    display: flex;
}

.holy-grail__menu {
    order: 1;
    background-color: aliceblue;
    flex: 0 0 380px;
}

.holy-grail__content {
    order: 2;
}

.grid__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.grid__header {
    flex: 1;
    font-weight: bold;
    font-size: 35px;
    alignment: center;
}

.grid__lan-bar {
    flex: 2;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.lan-bar{
    padding-left: 1%;
    padding-right: 2%;
}

.grid__menu{
    background-color: white;
    align-content: center;
    height: auto;
}

.grid__menu_header {
    background-color: cadetblue;
    text-decoration-color: white;
    text-align: center;
}

.action-form{
    border: medium cadetblue;
    display: flex;
    flex-direction: column;
    font-family: Serif, Monospaced, serif;
    font-size: 14px;
    margin: 50px 100px 100px;
    justify-content: center;
    align-content: center;
}

td {
    vertical-align: top;
    padding-right: 25px;
}

.action-form__button{
    align-self: center;
    padding: 20px;
}

