.holy-grail {
    display: flex;
    flex-direction: column;
    font-family: Serif, Monospaced, serif;
}

.holy-grail__header {
    flex: 0 0 10%;
    justify-content: space-around;
    min-height: 50px;
    border-bottom: solid;
}

.holy-grail__body {
    display: flex;
}

.holy-grail__menu {
    order: 1;
    background-color: cornsilk;
    flex: 0 0 280px;
    display: flex;
    flex-direction: column;
    font-size: 22px;
    border: medium black;
}

.holy-grail__content {
    order: 2;
    font-size: 32px;
}

.grid__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.grid__header {
    flex: 1;
    font-weight: bold;
    font-size: 45px;
    alignment: center;
    margin-left: 2%;
}

.grid__lan-bar {
    flex: 2;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 10%;
    font-size: 24px;
}

.lan-bar {
    padding-left: 1%;
    padding-right: 2%;
}

.grid__menu {
    background-color: white;
    align-content: center;
    height: auto;
    margin: 0% 10% 10%;
}

.grid__menu_header {
    background-color: bisque;
    text-decoration-color: white;
    text-align: center;
    margin: 0% 10%;
}

.action-form {
    border: medium cadetblue;
    display: flex;
    flex-direction: column;
    font-family: Serif, Monospaced, serif;
    font-size: 34px;
    margin-top: 10%;
    margin-left: 20%;
    justify-content: center;
    align-content: center;
}

td {
    vertical-align: top;
    padding-right: 25px;
}

.action-form__button {
    align-self: center;
    padding-left: 30%;
}

.news-list {
    margin-top: 10%;
    margin-left: 15%;
    font-family: Serif, Monospaced, serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    max-width: 80%;
}

.news-list__item {
    display: flex;
    justify-content: space-between;
}

.news-list__title {
    font-weight: bold;
}

.news-list__links {
    align-self: flex-end;
}

.news-view {
    margin-top: 10%;
    margin-left: 15%;
    font-family: Serif, Monospaced, serif;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    max-width: 80%;
    border: medium black;
}

.news-view__title {
    font-weight: bold;
}

.news-view__item {
    margin-left: 30%;
}

.news-view__links {
    margin-left: 50%;
    font-size: 26px;
}



